/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Skip Link */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

/* Hero Section */
.hero-section {
    background: url('cyber.webp') no-repeat center center/cover;
    padding: 330px 0;
}

.hero-section .overlay {
    background: rgba(0, 0, 0, 0.7); /* Dark overlay for better text visibility */
    color: #fff;
}

/* Navigation Bar */
.navbar-brand {
    font-size: 1.75rem; /* Larger brand font size */
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: .75rem 1rem;
}

/* Main Content */
main {
    padding-bottom: 50px; /* Space at the bottom of all main content */
}

/* About Section */
#about {
    margin-top: -50px; /* Pull up the About section to overlap with the hero section */
}

#about .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Prevention Strategies Section */
#prevention {
    background-color: #f4f4f4; /* Light background for contrast */
}

.feature-box {
    text-align: center;
    padding: 20px;
    background-color: rgb(208, 217, 224);
    border-radius: 5%;
    color: #256db6;
    margin: 2px;
}

.feature-box .icon {
    margin-bottom: 20px;
    color: #007bff; /* Bootstrap primary color */
}

/* Resources Section */
#resources ul {
    list-style-type: none;
    padding: 0;
}

#resources ul li {
    background: #e9ecef;
    margin-bottom: 10px;
    padding: 30px;
    border-left: 5px solid #007bff; /* Bootstrap primary color for vertical line */
}

#resources ul li a {
    text-decoration: none;
    color: #007bff; /* Links color */
}

/* Contact Section */
#contact {
    background: #f4f4f4; /* Light background for contrast */
}

#contact .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

/* Responsive Design for smaller devices */
@media (max-width: 768px) {
    .hero-section {
        padding: 50px ;
    }
    
    #about .container, #contact .container {
        padding: 20px;
        border-radius: 0; /* Full width on small screens */
    }
}
